/*  your css code here. If applicable */
:root {
  background-color: rgb(135, 206, 235);
}
p:first-child{
	background-color:black;
	color:white;
}
p:nth-child(2){
	color:standard
}
p:last-child{
	color:red
}